////////////////////////////////////
/// COLORS
////////////////////////////////////
$color-primary-1: hsl(356, 100%, 66%);
$color-primary-2: hsl(355, 100%, 74%);
$color-primary-3: hsl(208, 49%, 24%);

$color-neutral-1: hsl(0, 0%, 100%);
$color-neutral-2: hsl(240, 2%, 79%);
$color-neutral-3: hsl(207, 13%, 34%);
$color-neutral-4: hsl(240, 10%, 16%);

$color-gradient-1: hsl(13, 100%, 72%);
$color-gradient-2: hsl(353, 100%, 62%);
$color-gradient-3: hsl(237, 17%, 21%);
$color-gradient-4: hsl(237, 23%, 32%);

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    // font-family: 'Overpass', sans-serif;
    // font-family: 'Ubuntu', sans-serif;
}

body {
    font-size: 1.6rem;
}