////////////////////////////////////
/// COLORS
////////////////////////////////////
$color-primary-1: hsl(356, 100%, 66%);
$color-primary-2: hsl(355, 100%, 74%);
$color-primary-3: hsl(208, 49%, 24%);

$color-neutral-1: hsl(0, 0%, 100%);
$color-neutral-2: hsl(240, 2%, 79%);
$color-neutral-3: hsl(207, 13%, 34%);
$color-neutral-4: hsl(240, 10%, 16%);

$color-gradient-1: hsl(13, 100%, 72%);
$color-gradient-2: hsl(353, 100%, 62%);
$color-gradient-3: hsl(237, 17%, 21%);
$color-gradient-4: hsl(237, 23%, 32%);

////////////////////////////////////
/// MIXINS
////////////////////////////////////
@mixin flex($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin respond($breakpoint) {
	@if $breakpoint ==phone {
		@media only screen and (max-width: 37.5em) {
			// 600px
			@content;
		}
	}

	@if $breakpoint ==tab-port {
		@media only screen and (max-width: 56.25em) {
			// 900px
			@content;
		}
	}

	@if $breakpoint ==tab-land {
		@media only screen and (max-width: 75em) {
			// 1200px
			@content;
		}
	}

	@if $breakpoint ==big-desktop {
		@media only screen and (min-width: 112.5em) {
			// 1800px
			@content;
		}
	}
}

////////////////////////////////////
/// UTILITY CLASSES
////////////////////////////////////
.text-white {
	color: $color-neutral-1;
}

.text-dark {
	color: $color-primary-3;
}

.text-gray {
	color: $color-neutral-3;
}

.text-center {
	text-align: center;
}

////////////////////////////////////
/// GLOBAL
////////////////////////////////////
* {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	// font-family: 'Overpass', sans-serif;
	// font-family: 'Ubuntu', sans-serif;

	@include respond(tab-port) {
		font-size: 50%;
	}
}

body {
	font-size: 1.6rem;
}

////////////////////////////////////
/// NAVIGATION
////////////////////////////////////
nav {
	@include flex(center, center);

	position: relative;
	padding: 3.2rem 15vw;
	font-family: "Ubuntu", sans-serif;

	@include respond(tab-port) {
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 3.2rem 5vw;
	}
}

.logo {
	margin-right: 4.8rem;

	@include respond(tab-port) {
		order: 1;
	}
}

.nav-container {
	transition: all 0.3s ease;
	@include flex(space-between, center);
	flex: 1;

	@include respond(tab-port) {
		opacity: 0;
		pointer-events: none;

		position: absolute;
		top: 100%;
		left: 5%;
		width: 90%;
		transition: all 0.3s ease;
		transform: translateY(-1rem);
		background-color: $color-neutral-1;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 1rem;
		padding: 2.4rem;
		flex-direction: column;
		gap: 2.4rem;
		margin: 0 auto;
		order: 3;
	}

	&.visible {
		transform: translateY(0);
	}
}

nav .wrapper {
	@include flex(center, center);
	gap: 2.4rem;

	@include respond(tab-port) {
		flex-direction: column;
	}
}

.link,
nav button {
	cursor: pointer;
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: lighten($color-neutral-2, 14) !important;
	font-size: 1.6rem;
	font-weight: 700;
	word-spacing: 0.6rem;
	transition: all 0.3s ease;

	@include respond(tab-port) {
		color: $color-neutral-4 !important;
	}
}

// ROTATE ARROW IN NAV WHEN BUTTON IS FOCUSED
.nav-dropdown-arrow {
	height: 1rem;
	width: 1rem;
	transition: all 0.3s ease;
}
nav button:focus {
	color: $color-neutral-1;
	transform: rotate(0);

	@include respond(tab-port) {
		color: $color-neutral-4;
	}

	// ROTATE ARROW IN NAV WHEN BUTTON IS FOCUSED
	.nav-dropdown-arrow {
		transform: rotate(180deg);
	}
}

nav a {
	transition: all 0.3s ease;

	&:link,
	&:visited {
		text-decoration: none;
		font-weight: 700;
		color: $color-neutral-3;
	}

	&:hover,
	&:active {
		color: $color-neutral-4;
	}
}

.dropdown {
	position: relative;
	text-align: center;
}

.dropdown-menu {
	@include flex(center, flex-start);
	flex-direction: column;
	gap: 1.6rem;

	position: absolute;
	left: -3rem;
	top: calc(100% + 1rem);
	background-color: $color-neutral-1;
	padding: 3.2rem 2.4rem;
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	transform: translateY(-1rem);
	transition: all 0.3s ease;

	opacity: 0;
	pointer-events: none;

	@include respond(tab-port) {
		background-color: lighten($color-neutral-2, 14);
		color: $color-neutral-2;
		align-items: center;
		margin-top: 2.4rem !important;
	}
}

.dropdown.active .dropdown-menu {
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;

	@include respond(tab-port) {
		position: static;
	}
}

////////////////////////////////////
/// MOBILE NAVIGATION
////////////////////////////////////
.mobile-nav-btn {
	display: none;

	@include respond(tab-port) {
		display: block;
		order: 2;
	}
}

.nav-dropdown-arrow--light {
	@include respond(tab-port) {
		display: none;
	}
}

.nav-dropdown-arrow--dark {
	display: none;

	@include respond(tab-port) {
		display: unset;
	}
}

.nav-container .wrapper:nth-child(2) {
	@include respond(tab-port) {
		width: 100%;
		padding-top: 2.4rem;
		border-top: 1px solid #e9ecef;
	}
}

.hidden {
	display: none;
}

.visible {
	opacity: 1;
	pointer-events: all;
}

////////////////////////////////////
/// HEADER
////////////////////////////////////
header {
	background: url(../images/bg-pattern-intro-desktop.svg) no-repeat no-repeat
			25% 50%,
		linear-gradient(to right, $color-gradient-1, $color-gradient-2);
	border-bottom-left-radius: 10rem;
	border-bottom-right-radius: 10rem;

	@include respond(tab-port) {
		border-bottom-right-radius: 0rem;
		background: url(../images/bg-pattern-intro-mobile.svg) no-repeat no-repeat
				center,
			linear-gradient(to right, $color-gradient-1, $color-gradient-2);
	}
}

////////////////////////////////////
/// CTA (IN HEADER)
////////////////////////////////////
.cta {
	padding: 12.6rem 0;
	text-align: center;

	.wrapper {
		margin-top: 4.8rem;

		@include flex(center, center);
		gap: 1.6rem;
	}
}

////////////////////////////////////
/// TYPOGRAPHY
////////////////////////////////////

.btn {
	transition: all 0.3s ease;
	display: inline-block;
	padding: 1.6rem 3.4rem;
	border-radius: 100rem;
	text-decoration: none;
	font-weight: 700;
	font-family: "Ubuntu", sans-serif;
}

.btn--outline {
	border: 1px solid $color-neutral-1;
	color: $color-neutral-1;

	&:hover {
		background-color: $color-neutral-1;
		color: $color-gradient-2;
	}
}

.btn.btn--white {
	background-color: $color-neutral-1;
	color: $color-gradient-2;

	&:hover {
		background-color: lighten($color-primary-1, 15);
		color: $color-neutral-1;
	}
}

.btn.btn--gradient {
	@include respond(tab-port) {
		background: linear-gradient(to right, $color-gradient-1, $color-gradient-2);
		color: $color-neutral-1;
	}
}

.heading-1,
.heading-2,
.heading-3 {
	font-family: "Overpass", sans-serif;
}

.heading-1 {
	font-size: 6.4rem;
	margin-bottom: 2.4rem;
}

.heading-2 {
	font-size: 3.6rem;
}

.heading-3 {
	font-size: 2.4rem;
}

.paragraph {
	line-height: 1.6;
	font-family: "Overpass", sans-serif;
	font-size: 1.8rem;
}

.paragraph--white {
	color: lighten($color-neutral-2, 14);
}

////////////////////////////////////
/// SECTIONS
////////////////////////////////////
.section {
	padding: 9.6rem 0;
}

.section--white {
}

.section-container {
	@include flex(center, center);
	
	max-width: 90%;
	margin: 0 auto;
	gap: 4.8rem;
}
